<aside class="w-64" aria-label="Sidebar">
  <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50">
      <ul class="space-y-2">
          <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
              <span class="ml-3">Dashboard</span>
          </li>
          <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
              <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
          </li>
          <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
              <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
          </li>
      </ul>
  </div>
</aside>