  <!-- Modal Overlay -->
  <div class="fixed top-0 left-0 w-full h-full bg-black opacity-50 z-50"></div>

  <!-- Modal Content -->
  <div class="fixed w-2/3 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg p-8 z-50">
    <!-- Header-->
      <div class="flex items-center justify-between w-full">
        <h2 class="text-gray-600 font-semibold mb-4">Modal Title</h2>
        
        <h3 class="text-gray-600 font-medium mb-4">Step 1 of 1 Action</h3>
      </div>

      <!-- Content-->
      <div class="w-full flex justify-between">
        <aside class="w-64" aria-label="Sidebar">
          <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50">
              <ul class="space-y-2">
                  <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
                      <span class="ml-3">Dashboard</span>
                  </li>
                  <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
                      <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
                  </li>
                  <li class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 cursor-pointer">
                      <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
                  </li>
              </ul>
          </div>
      </aside>
      
        <div class="w-full px-4">
          <p class="text-gray-600">Modal Content Goes Here...</p>
        </div>
      </div>

      <!-- Close Button -->
      <div class="w-full flex justify-end">
        <button class="mr-4 mt-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M14.293 5.293a1 1 0 011.414 1.414L11.414 12l4.293 4.293a1 1 0 01-1.414 1.414L10 13.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 12 4.293 7.707a1 1 0 111.414-1.414L10 10.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            Close Modal
        </button>
        <button class="mr-4 mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
          Go to Step 2
        </button>
        <button class="mt-4 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
            Create
        </button>
      </div>
  </div>
